html {
  scroll-behavior: smooth;
}
section {
  overflow-y: scroll;
  scroll-behavior: smooth;
  transition: 1sec;
}
body {
  margin: 0;
  overflow: scroll;
  scroll-behavior: smooth;
  font-family: 'Montserrat', sans-serif;
}
.nav {
  height: 7vh;
}

h1 {
  margin-top: 10vh;
  color: white;
  display: inline;
  font-family:'Cabin Sketch', cursive;
  font-size: 4rem;
  text-align: center;
}
h2 {
  margin-top: 7vh;
  color: black;
  display: inline;
  font-family: 'Cabin', sans-serif;
  font-size: 2rem;
  text-align: center;
}
header {
  position: fixed;
  top: 0;
  z-index:500;
  width: 100vw;
  height: 40px;
  background-color: rgb(104 101 108);
  background-color: #737373; 
  display: flex;
  align-content: center;
  flex-direction: row-reverse;
}
.intro-statement {
  color: white;
}

a {
  font-size: 24px;
  color: white;
  text-decoration: none;
  transition: 1s linear text-decoration;
}
a:hover {
  color: whitesmoke;
  transform: 1.2em;
  text-decoration: underline;
}
ul {
  display: inline;
  font-family: 'Tomorrow', sans-serif;
}

li {
  display: inline;
}
.ocean {
  width: 100vw;
}
.title {
  background-image: url('https://images.unsplash.com/photo-1560860484-bcb661a7797a?ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 20, 0.5);
  background-blend-mode: darken;
}

.logo {
  height: 15vh;
}
#education {
  padding-top: 6vh;
  background-color: rgba(252, 252, 252, .8);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  text-align: center;
  display: grid;
  grid-template-columns:  15% [logo] 25% [description] 55% 5%;
  grid-template-rows:[header] 16%  [ga] 28% [udacity] 28% [humboldt] 28%;
}
.education-header {
   grid-row: header;
   grid-column: 2 / 4;
  font-size: 3em;
  color: black;
 }
#education h3 {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid black;
}
#education p {
  padding-top: 0;
}
.ga {
  grid-column: logo;
  grid-row: ga;
}
.ga-description {
  grid-column: description;
  grid-row: ga;
  text-align: left;
  word-spacing: 5px;
  line-height: 1.5;
}
.udacity {
  grid-column: logo;
  grid-row: udacity;
}
.udacity-description {
  grid-column: description;
  grid-row: udacity;
  text-align: left;
  word-spacing: 5px;
  line-height: 1.5;
}
.humboldt {
  grid-column: logo;
  grid-row: humboldt;
}
.humboldt-description {
  grid-column: description;
  grid-row: humboldt;
  text-align: left;
  word-spacing: 5px;
  line-height: 1.5;
}

#experience {
  background-color: #f7f7f7;
  padding-top: 8vh;
  width: 100vw;
  height: 100vh;
  text-align: center;
  display: flex-column;
}

.experience-header h2 {
  font-size: 3em;
  color: black;
}
.image-holder {
  padding-top: 5vh;
  background-blend-mode: darken;
  display:flex;
  justify-content: center;
  align-items: center;
}
.profile-image {
  border-radius:5vw;
  background-blend-mode: darken;
}
.cover {
  width: 30vw;
  object-fit: cover;
}
#experience h2 {
  color: black;
}
.experience-content {
  text-align: center;
  color: black;
  font-size: 1.5rem;
  font-family: 'Tomorrow', sans-serif;
}
p {
  font-family: 'Open Sans';
}
.projects {
  background-color:  #D9D9D9;
  width: 96vw;
  padding: 0 2vw;
  height: 100vh;
  display: grid;
  grid-template-columns:  3fr 3fr 3fr ;
  grid-template-rows:10% [header]  [projects] 55%  35%;
  grid-gap: 2%;
}

.projects-header {
   grid-row: 0 / header;
   grid-column: 2/3;
   padding-top: 5px;
  font-size: 3em;
  color: black;
 }
.project {
  background-color: #f1f1f1;
  border: 3px solid gray;
  padding: 25px 2px;
  border-radius: 5px;
  margin-bottom: 15px;
  box-shadow: 3px 3px 3px 4px rgba(0, 0, 0, 0.25);
  grid-row: projects;
}

.project1 {
  grid-column: 1/2;
}
.project2 {
  grid-column: 2/3;
}
.project3 {
  grid-column: 3/4;
}
.project-image-holder {
  height: 75%;
 }
.project-image {
  width: 100%;
}
.material-icons {
  font-size: 36px !important;
  color: black;
}
